# Configuración de Azure Functions
FUNCTIONS_WORKER_RUNTIME=java
AzureWebJobsStorage=UseDevelopmentStorage=true

# Configuración de la base de datos Oracle
ORACLE_USER=ADMIN
ORACLE_ADMIN_PASSWORD=contraseña_bd_oracle
ORACLE_TNS_ALIAS=bdlibreriacn2_high
ORACLE_WALLET_PATH=/ruta/Wallet
